body {
	padding: 0;
	margin: 0;
}
.scene{
	/*min-height: 620px;*/
	position: relative;
	overflow: hidden;
	list-style: none;
	display: block;
	padding: 0;
	margin: 0;
}
.scene {
	display: block;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}
.layer0 img {
	width: 100%;
	height: auto;
}
.layer{
	display: block;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	position: absolute;
}
.layer div {
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}
.background{
	background: url(../img/parallax/layer1.jpg) no-repeat 0% 0%;
    background-size: cover;
    position: absolute;
    width: 120%;
    height: 100%;
    left: -10%;
    top: -10%;
}
.mountains, .city, .water {
	position: absolute;
    width: 120%;
    left: -10%;
}
.mountains.far{
	background: transparent url(../img/parallax/layer2.png) 0 0 no-repeat;
	background-size: 100% auto;
	height: 47%;
	top: 22.9%;
}
.mountains.middle-far{
	background: transparent url(../img/parallax/layer3.png) 0 0 no-repeat;
	background-size: 100% auto;
	height: 53%;
	top: 28%;
}
.mountains.middle-close{
	background: transparent url(../img/parallax/layer4.png) 0 0 no-repeat;
	background-size: 73% auto;
	height: 44%;
	top: 39%;
}
.mountains.close{
	background: transparent url(../img/parallax/layer5.png) 0 0 no-repeat;
	background-size: 100% auto;
	height: 44%;
	top: 46%;
}
.city{
	background: transparent url(../img/parallax/layer6.png) 0 0 no-repeat;
	background-size: 100% auto;
	height: 57%;
	bottom: -15%;
}
.water {
	background: url(../img/parallax/layer7.png) 0 0 no-repeat;
	background-size: cover;
	height: 24%;
	bottom: -15%;
	-webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
	-webkit-animation: wave 4s 0.1s infinite linear;
  -moz-animation: wave 4s 0.1s infinite linear;
  animation: wave 4s 0.1s infinite linear;
}
@-webkit-keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0.1%,2%,0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0.1%,2%,0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0.1%,2%,0) rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0.1%,2%,0) rotateZ(-360deg);
    -moz-transform: rotateZ(360deg) translate3d(0.1%,2%,0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0.1%,2%,0) rotateZ(-360deg);
  }
}

@-moz-keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0.1%,2%,0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0.1%,2%,0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0.1%,2%,0) rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0.1%,2%,0) rotateZ(-360deg);
    -moz-transform: rotateZ(360deg) translate3d(0.1%,2%,0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0.1%,2%,0) rotateZ(-360deg);
  }
}

@-ms-keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0.1%,2%,0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0.1%,2%,0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0.1%,2%,0) rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0.1%,2%,0) rotateZ(-360deg);
    -moz-transform: rotateZ(360deg) translate3d(0.1%,2%,0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0.1%,2%,0) rotateZ(-360deg);
  }
}

@keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0.1%,2%,0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0.1%,2%,0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0.1%,2%,0) rotateZ(0deg);
    /*transform: rotateZ(0deg) translate(-10%, 2%) rotateZ(0deg);*/
  }

  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0.1%,2%,0) rotateZ(-360deg);
    -moz-transform: rotateZ(360deg) translate3d(0.1%,2%,0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0.1%,2%,0) rotateZ(-360deg);
     /*transform: rotateZ(360deg) translate(0%, -2%) rotateZ(-360deg);*/
  }
}